<!-- File: about.html -->
<!-- Author: Sorathorn Thongpitukthavorn (plum@bu.edu), 9/6/2025 -->
<!-- Description: html file for the about web page -->

{% extends "base.html" %}

{% block content %}
    <h2>About Cillian Murphy</h2>
    <p>
        Cillian Murphy is an Irish actor known for his versatility 
        and captivating performances across film and theater. 
        He has been known to collaborate with director Christopher Nolan, 
        starring in blockbusters like the Dark Knight trilogy, Inception, 
        and the Oscar-winning film Oppenheimer, 
        for which he won an Academy Award for Best Actor.
    </p>

    <hr>

    <p>
        This web application was created by plum@bu.edu.
    </p>
    <p>    
        Hi! My name is Plum or Sorathorn Thongpitukthavorn, I'm a computer science major
        hoping to learn more about django as well as full-stack application development! 
    </p>
{% endblock %}