<!-- File: base.html -->
<!-- Author: Sorathorn Thongpitukthavorn (plum@bu.edu), 9/6/2025 -->
<!-- Description: base html file for main page. Contains nav bar and header -->

{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Quotations and Images of [INSERT]</title>
        <link rel="stylesheet" href="{% static 'quotes_styles.css' %}">
    </head>
    <body>
        <div class="grid-container">
            <header>
                <h1>Quotations and Images of [INSERT]</h1>
            </header>
            <nav>
                <li><a href="/quotes">Quote of the Day</a></li>    
                <li><a href="/show_all">Show All</a></li>    
                <li><a href="/about">About</a></li>    
            </nav>
            <main>
                {% block content %}
                {% endblock %}
            </main>
            <aside>
                <p></p>
            </aside>
            <footer>
                <p>
                    Page created by plum@bu.edu.<br>
                </p>
            </footer>
        </div>
    </body>
</html>