<!-- File: show_all.html -->
<!-- Author: Sorathorn Thongpitukthavorn (plum@bu.edu), 9/6/2025 -->
<!-- Description: html file for page which shows all images and quotes using loops -->

{% extends "base.html" %}

{% load static %}

{% block content %}
    <h2>All Quotes</h2>
    <div class="quotes-list">
        {% for quote in all_quotes %}
            <p>"{{ quote }}"</p>
        {% endfor %}
    </div>

    <hr>

    <h2>All Images</h2>
    <div class="images-list">
        {% for image_url in all_images %}
            <img src="{% static image_url %}" alt="Related Image">
        {% endfor %}
    </div>
{% endblock %}