<!-- File: login.html -->
<!-- Author: Sorathorn Thongpitukthavorn (plum@bu.edu), 10/23/2025 -->
<!-- Description: html form for the login page -->

{% extends 'base_mini_insta.html' %}
{% block content %}
 
    <div class="form-container login-page-container">
        <h1>Login</h1>
        <form method="post" action="{% url 'login' %}" class="login-form">
            {% csrf_token %}
            {{form}}
            <div class="form-actions login-actions">
                <input type="submit" value="Login" class="btn btn-primary">
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{request.GET.next}}">
                {% else %}
                    <input type="hidden" name="next" value="{% url 'profile_list' %}">
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
