<!-- File: show_profile.html -->
<!-- Author: Sorathorn Thongpitukthavorn (plum@bu.edu), 9/25/2025 -->
<!-- Description: html page to show individual mini_insta profiles -->

{% extends "base_mini_insta.html" %}    

{% load static %}

{% block content %}
    <div class="profile-page">
        <div class="profile-header-section">
            <div class="profile-image-large-container">
                <img src="{{ profile.profile_image_url }}" alt="Profile image for {{ profile.username }}" class="profile-image-large">
            </div>
            <div class="profile-details">
                <h1 class="profile-username">{{ profile.username }}</h1>
                <h2 class="profile-displayname">{{ profile.display_name }}</h2>
                <div class="profile-stats">
                    <p class="stat-item">
                        <a class="stat-number">{{ profile.get_num_posts }}</a> posts
                    </p>
                    <p class="stat-item">
                        <a href="{% url 'show_followers' profile.pk %}"  class="stat-number">{{ profile.get_num_followers }}</a> followers
                    </p>
                    <p class="stat-item">
                        <a href="{% url 'show_following' profile.pk %}"  class="stat-number">{{ profile.get_num_following }}</a> following
                    </p>
                </div>
                <p class="profile-bio">{{ profile.bio_text }}</p>
                <p class="profile-join-date">Joined: {{ profile.join_date }}</p>
            </div>
        </div>

        <div class="profile-posts-section">
            <h3>Posts by this user:</h3>
            <div class="posts-grid">
                <!-- scriptlet code to loop over all posts associated with this profile -->
                {% for post in profile.get_all_posts %}
                    <div class="post">
                        <a class="post-photos" href="{% url 'post' post.pk %}">
                            <!-- scriptlet code to loop and get the first photo of this post -->
                            {% for photo in post.get_all_photos %}
                                {% if forloop.first %}
                                    <img src="{{ photo.get_image_url }}" class="post-photo">
                                {% endif %}
                                {% empty %}
                                <div>
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg" class="post-photo">
                                </div>
                            {% endfor %}
                        </a>
                    </div>
                    {% empty %}
                    <p>No posts yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}