<!-- File: show_post.html -->
<!-- Author: Sorathorn Thongpitukthavorn (plum@bu.edu), 9/25/2025 -->
<!-- Description: html page to show individual mini_insta posts -->

{% extends "base_mini_insta.html" %}    

{% load static %}

{% block content %}

<div class="single-post">
    <div>
        <!-- scriptlet code to loop over all photos associated with this post -->
        {% for photo in post.get_all_photos %}
            <img src="{{ photo.get_image_url }}" class="single-post-photos">
            {% empty %}
            <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg" class="post-photo">
            </div>
        {% endfor %}
    </div>
    <p class="stat-item">
        <a class="stat-number">{{ post.get_likes }}</a> Likes
    </p>
    <p class="post-caption">{{ post.caption }}</p>
    <p class="post-timestamp">{{ post.timestamp }}</p>
    <div class="post-actions">
        {% if request.user.is_authenticated and post.profile.user != request.user %}
            {% if is_liked %}
                <a href="{% url 'delete_like' post.pk %}" class="action-link unlike-link">Unlike</a>
            {% else %}
                <a href="{% url 'like_post' post.pk %}" class="action-link like-link">Like</a>
            {% endif %}
        {% endif %}
    </div>
</div>

<p>Comments:</p>
<!-- scriptlet code to loop over all comments under this post -->
{% for comment in post.get_all_comments %}
    <div class="post-comment-box">
        <p class="post-comment">{{ comment.text }}</p>
        <p class="post-comment-author">by {{ comment.profile.username }}</p>
    </div>
{% endfor %}

{% endblock %}