<!-- File: update_post_form.html -->
<!-- Author: Sorathorn Thongpitukthavorn (plum@bu.edu), 9/25/2025 -->
<!-- Description: html form to update an existing post's caption -->

{% extends "base_mini_insta.html" %}
{% load static %}

{% block content %}

<div class="form-container">

    <p>Delete Post: </p>
    <div class="single-post">  
        <form method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <!-- scriptlet code to loop over all photos associated with this post -->
                {% for photo in post.get_all_photos %}
                    <img src="{{ photo.get_image_url }}" class="single-post-photos">
                    {% empty %}
                    <div>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg" class="post-photo">
                    </div>
                {% endfor %}
        </div>
        <p></p>
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Update Profile</button>
                <a href="{% url 'profile' profile.pk %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
        <p class="post-timestamp">{{ post.timestamp }}</p>
    </div>
</div>
{% endblock %}
