<!-- File: update_profile_form.html -->
<!-- Author: Sorathorn Thongpitukthavorn (plum@bu.edu), 9/25/2025 -->
<!-- Description: html form to update an existing profile's info -->

{% extends "base_mini_insta.html" %}
{% load static %}

{% block content %}

<div class="form-container">

    <p>Update Profile for <strong>{{ profile.username }}</strong></p>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Update Profile</button>
            <a href="{% url 'profile' profile.pk %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
