<!-- File: order.html -->
<!-- Author: Sorathorn Thongpitukthavorn (plum@bu.edu), 9/11/2025 -->
<!-- Description:   order page displaying all the menu items
                    which is pulled from views as a payload -->

{% extends "base_restaurant.html" %}

{% load static %}

{% block content %}

    <form action="{% url 'confirmation' %}" method="POST">
        {% csrf_token %}
        <p>
            <h3>Appetizers:</h3>
            {% for appetizer in appetizers %}
                <div><input type="number" value="0">{{ appetizer }}
                {% if "Crying Wings" in appetizer %}
                    <select name="spice_{{ forloop.counter }}">
                        <option value="not_spicy">Not Spicy</option>
                        <option value="spicy">Spicy</option>
                        <option value="very_spicy">Very Spicy</option>
                    </select>
                {% endif %}
                </div>
            {% endfor %}
        </p>

        <p>
            <h3>Mains:</h3>
            {% for main in mains %}
                <div><input type="number" value="0">{{ main }}</div>
            {% endfor %}
        </p>

        <p>
            <h3>Desserts:</h3>
            {% for dessert in desserts %}
                <div><input type="number" value="0">{{ dessert }}</div>
            {% endfor %}
        </p>

        <p>
        <h3>Today's Special:</h3>
            <div><input type="number" value="0">{{ daily_special }}</div>
        </p>
        
        <p>
            <h3>Special Instructions</h3>
            Please share any special instructions:
            <div><textarea name="special_instructions" rows="3" cols="60"></textarea></div>
        </p>
        <p>
            <h3>Customer Information</h3>

            <div>Name:</div> <div><input name="name"></div>
            <div>Phone:</div> <div><input name="phone"></div>

            <div>Email:</div> <div><input name="email"></div>
        </p>

        <p>
            <h3>Place your order!</h3>
            <input type="submit">        
        </p>

    </form>

{% endblock%}